* {
    font-family: montserrat;
}

.text-box {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px auto 0;
    fill: aqua;
}
.my-center {
    margin: 0 auto;
}
.my-center-btn {
    display: inline-block;
    width: auto;
    margin: 0 auto !important;
}
.cont {
    padding: 0 auto;
}